@mixin box {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin dissapear {              /* Убрать плейсхолдер при фокусе */
  &:focus::-webkit-input-placeholder {color: transparent};
  &:focus::-moz-placeholder          {color: transparent};
  &:focus:-moz-placeholder           {color: transparent};
  &:focus:-ms-input-placeholder      {color: transparent};
}
@mixin style-placeholder {      /* Стиль плейсхолдера для поля LOGIN */
  color: #ffffff;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 74px;
  text-transform: uppercase;
  opacity: 1;
  align-self: baseline;
}

@mixin placeholder-login { /* Миксин с преффиксами браузеров для корректного отображения плейсхолдера для поля LOGIN*/
  &::-webkit-input-placeholder { @include style-placeholder;}
  &:-moz-placeholder           { @include style-placeholder;}
  &::-moz-placeholder          { @include style-placeholder;}
  &:-ms-input-placeholder      { @include style-placeholder;}
  &::placeholder      { @include style-placeholder;}
}

@mixin style-placeholder-after-header { /* Стиль плейсхолдера для полей в after-header */
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
  opacity: 1;
}

@mixin placeholder2 { /* Миксин с преффиксами браузеров для корректного отображения плейсхолдера для полей в after-header*/
  &::-webkit-input-placeholder { @include style-placeholder-after-header;}
  &:-moz-placeholder           { @include style-placeholder-after-header;}
  &::-moz-placeholder          { @include style-placeholder-after-header;}
  &:-ms-input-placeholder      { @include style-placeholder-after-header;}
  &::placeholder      { @include style-placeholder-after-header;}
}

@mixin style-placeholder-email {
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 1;
}
@mixin placeholder-email { /* Миксин с преффиксами браузеров для корректного отображения плейсхолдера для поля email*/
  &::-webkit-input-placeholder { @include style-placeholder-email;}
  &:-moz-placeholder           { @include style-placeholder-email;}
  &::-moz-placeholder          { @include style-placeholder-email;}
  &:-ms-input-placeholder      { @include style-placeholder-email;}
  &::placeholder      { @include style-placeholder-email;}
}





@mixin p-middle-section {
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}