@import "mixins";
@import "variables";
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.ttf');
}

a {text-decoration: none;}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
hr {opacity: 0.4; margin: 8px 0 0 0;}

svg {margin: auto;}

img {
  max-width: 100%;
}

.wrapper, header, .after-header {
  @include box;
  margin: 0 auto;
}
header, ul.menu {
  display: flex;
}
header {
  justify-content: flex-end;
}
.logo-nav {
  @include flex-space-between;
  width: 100%;
  max-width: 750px;
}

.logo-nav a.logo {
  margin: auto;
  padding-right: 80px;
  align-self: baseline;/* for IE11 */
}
nav {
  display: flex;
  margin: auto;
  align-self: baseline;/* for IE11 */
}
ul.menu {
  max-width: 480px;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

ul.menu li a {
  color: $main-grey-color;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  padding-right: 20px;
}

ul.menu li a:hover {
  color: $main-red-color;
}

header form {
  font-size: 0;
  display: flex;
}

header label {
  width: 320px;
  font-size: 18px;
  display: block;
  position: relative;
  transition: width 1s;
  height: 76px;
}

header i.fa.fa-search,
header i.fa.fa-user {
  position: absolute;
  font-size: 24px;
  color: white;
  top: 24px;
  left: 24px;
  cursor: pointer;
}

header i.fa.fa-user {
  font-size: 21px;
}

header form input {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0 5px 0 52px;
  width: 250px;
  color: #ffffff;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 74px;
  text-transform: uppercase;
  opacity: 1;
  @include placeholder-login;
  transition: opacity 1s 1s;
  align-self: baseline;
}

header input:focus {
  border: 0;
  outline: 0;
}

.search {
  background-color: #e2dee0;
}

.user {
  background-color: $main-red-color;
}

.off {
  transition: width 1s;
  width: 74px;
  overflow: hidden;
  height: 76px;
}

.off input::placeholder {
  opacity: 0;
}

.after-header label {
  position: relative;
}
.after-header {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  background: #4d4744 url('../images/bg-img.JPG') no-repeat;
  box-sizing: border-box;
}


.after-header h2 {
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
}
.after-header form {
  width: 470px;
  height: 217px;
  flex-wrap: wrap;
  @include flex-space-between;

}
input.after-header-input{
   background-color:rgba( 255, 255, 255, 0.1);
   border: 1px solid rgba(255,255,255,.2);
   outline: none;
   padding: 0 0 0 32px;
   box-sizing: border-box;
   @include placeholder2;
   color: #ffffff;
   font-family: $main-font;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   @include dissapear;
 }
input.first-second {
   width: 220px;
   height: 50px;
   border-radius: 25px;
   margin-bottom: 20px;
}

input.third {
   width: 470px;
   height: 55px;
   border-radius: 27px;
   margin-bottom: 25px;
}

input.button {
   border: 0;
   outline: 0;
   width: 140px;
   height: 60px;
   background-color: $main-red-color;
   border-radius: 30px;
   padding: 0;
   margin: auto;
   text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
   color: #ffffff;
   font-family: $main-font;
   font-size: 18px;
   font-weight: 500;
   line-height: 48px;
   text-transform: uppercase;
   cursor: pointer;
}

.fa.fa-angle-down {
   color: white;
   font-size: 20px;
   font-weight: 900;
   line-height: 48px;
   text-transform: uppercase;
   position: absolute;
   top: 2px;
   right: 23px;
}
.cover-middle {
  @include box;
  border-bottom: 1px lightgrey;
}
.middle-section {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 13px;
  @include flex-space-between;
  box-sizing: border-box;
}
.sort {
  width: 100%;
  max-width: 265px;
}
.sort ul {
  @include flex-space-between;
}
.sort li a {
  color: $main-grey-color;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

.sort li a:hover {
  color: black;
}
.sort a.active {
  color: $main-red-color;
}

.middle-section p {
  @include p-middle-section;
  margin: 0;
}
.list-map {
  @include flex-space-between;
  width: 100%;
  max-width: 255px;
}
.list-map .list {
  width: 115px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 17px;
  border: 1px solid #cbd3d3;
  color: $main-red-color;
}
.list-map div {
   display: flex;
   padding-left: 20px;
   position: relative;
   cursor: pointer;
}
.list-map div p {
  margin: auto auto auto 0;
}
.list-map .mapButton {
   width: 125px;
   height: 35px;
   background-color: $main-green-color;
   border-radius: 17px;
   color: white;
   box-sizing: border-box;
}

.filter p {
   color: $main-grey-color;
   padding-top: 4px;
}

.filter {
   @include flex-space-between;
  width: 100%;
  max-width: 300px;
}

.fa.fa-angle-down.dark-arrow {
   color: $main-grey-color;
   top: -7px;
   right: 17px;
}

i.fa.fa-map-marker {
   position: absolute;
   top: 9px;
   right: 17px;
}

.filter div {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   position: relative;
  cursor: pointer;
}

.filter .home {
   background-color: $main-green-color;
}
.filter .girl,
.filter .hat {
   background-color: #b6c0c1;
}
.filter .music {
    background-color: $main-orange-color;
}
.filter .bus {
  background-color: $main-violet-color;
}
.filter svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
.filter div:hover {
  background-color: $main-red-color;
}
svg.st1 {
  fill: #F2EEE8;
}
svg.st1:hover {
  fill: $main-grey-color;
}

.conteiner {
  @include box;
  margin: 0 auto;
  background-color: #f3f1f2;
}
.main-content {
  @include flex-space-between;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding-top: 40px;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2dee0;
  box-sizing: border-box;
}
.card {
  width: 100%;
  max-width: 210px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 #e2dee0;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.price {
  width: 65px;
  height: 25px;
  border-radius: 13px;
  background-color: $main-green-color;
  position: absolute;
  top: 7px;
  right: 8px;
  color: #ffffff;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.card-img {
  width: 100%;
  max-width: 210px;
  position: relative;
}
.card .description p {
  margin: 0;
  text-align: center;
}

.card .description {
  padding-bottom: 13px;
  padding-left: 10px;
}
.card-1 .card-img img {
  border-bottom: 3px solid $main-green-color;
}
.card-2 .card-img img {
  border-bottom: 3px solid $main-orange-color;
}
.card-3 .card-img img {
  border-bottom: 3px solid $main-violet-color;
}
.card p:nth-of-type(1) {
  color: #566375;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.card .name-rating p:nth-of-type(1) {
  color: $main-green-color;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
div.card-2 .name-rating p:nth-of-type(1) {
  color: $main-orange-color;
}
div.card-3 .name-rating p:nth-of-type(1) {
  color: $main-violet-color;
}

.fa.fa-star, .fa.fa-star-o {
  color: $main-orange-color;
}
.card span {
  color: $main-grey-color;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
}

.main-circle {
  width: 50px;
  height: 50px;
  border-radius: 28px;
  border: 3px solid white;
  position: absolute;
  top: 111px;
  left: 76px;
  display: flex;
  z-index: 100;
}
.main-circle.circle-1 {
  background-color: $main-green-color;
}
.main-circle.circle-2 {
  background-color: $main-orange-color;
}
.main-circle.circle-3 {
  background-color: $main-violet-color;
}
.description {
  padding-top: 21px;
  @include flex-space-between;
  flex-direction: column;
  flex-grow: 2;
  background-color: white;
}

.bg-hover {
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  padding-top: 20px;
  box-sizing: border-box;
  display: none;
}

.card-img:hover .bg-hover {
  display: block;
}

.card-1 .bg-hover {
  background-color: rgba(27, 175, 93, 0.7);
}
.card-2 .bg-hover {
  background-color: rgba(241, 158, 31, 0.7);
}
.card-3 .bg-hover {
background-color: rgba(136, 73, 156, 0.7);
}

.search-mini {
  width: 137px;
  height: 31px;
  border-radius: 18px;
  border: 3px solid white;
  background-color: rgba(27, 175, 93, 0.9);;
  opacity: 1;
  margin: auto auto 20px;
  padding-left: 32px;
  box-sizing: border-box;
  position: relative;
}

.card-2 .search-mini {
  background-color: rgba(241, 158, 31, 0.9);
}
.card-3 .search-mini {
  background-color: rgba(136, 73, 156, 0.9);
}
.search-mini a {
  color: #ffffff;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

div.search-mini i.fa.fa-search {
  font-size: 12px;
  top: 7px;
  left: 14px;
  color: white;
  position: absolute;
}
.fa.fa-comments-o {
  color: white;
  font-size: 24px;
  margin: auto 0;
  position: absolute;
  top: -4px;
  right: 0;
  cursor: pointer;
}
.rating-comment {
  @include flex-space-between;
  margin: 0 auto;
  width: 136px;
  position: relative;

}
.font-size {
  margin: auto 0;
}
.font-size i {
  font-size:18px;
}
.card-wide,
.card-wide-img{
  width: 100%;
  max-width: 455px;
}
.card-wide p {
  margin: 0;
}

.card-wide {
  margin-bottom: 30px;
  box-shadow: 0 1px 0 #e2dee0;
}
.card-wide-img {
    position: relative;
}

.bg-shadow-wide {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  height: 40%;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.description-wide {
  box-sizing: border-box;
  position: relative;
  background-color: white;
  padding: 11px 20px 13px 98px;
}

.description-wide p:nth-of-type(2){
  color: #566375;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.description-wide p:nth-of-type(3) {
  color: #566375;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


.user-foto {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 28px;
  border: 2px solid lightgrey;
  top: 43px;
  left: 22px;
  background-image: url("../images/layer-foto1.png");
}

.name-rating-wide {
  display: flex;
}
.name-rating-wide p:nth-of-type(1) {
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

div.name-rating-wide p:nth-of-type(2) {
  margin: auto;
  padding-left: 10px;
  color: #ffffff;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
}

.first-wide .card-wide-img img{
  border-bottom: 4px solid $main-green-color;
}

.card-wide-img .circle-1.main-circle {
  top: 97px;
  left: 22px;
}

.second-wide .user-foto {
  background-image: url("../images/layer-foto-2.png");
}

div.second-wide .circle-1.main-circle {
  background-color: $main-orange-color;
}

.card-wide .description-wide a {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: underline;
  color: #566375;
}

.second-wide .card-wide-img img {
  border-bottom: 4px solid $main-orange-color;
}

.load {
  color: #566375;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-decoration: underline;
  margin: auto auto 25px;
}

.load .fa.fa-long-arrow-right {
  font-size: 14px;
}
.prefooter-cover {
  @include box;
  background-color: #f3f1f2;
  padding-top: 88px;
}

.prefooter {
  width: 100%;
  max-width: 760px;
  @include flex-space-between;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  padding-left: 5px;
}

.prefooter h2:nth-of-type(1){
  color: #566375;
  font-family: $main-font;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  margin: auto;
  text-align: center; /* IE11 */
}
.prefooter p {
  color: $main-grey-color;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: auto auto 70px;
  text-align: center; /* IE11 */
}

.advantages {
  @include flex-space-between;
  margin-bottom: 38px;
  position: relative;
}

.advantage-circle {
  width: 100px;
  height: 100px;
  border-radius: 54px;
  border: 2px solid #9dacad;
  display: flex;
  position: relative;
  z-index: 20;
  background-color: #f3f1f2;
  outline: 2px solid #f3f1f2;
  cursor: pointer;
}

.advantage-circle.active-circle {
  border: 2px solid $main-green-color;
}

.articles {
  @include flex-space-between;
  position: relative;
  margin-bottom: 143px;
}

.prefooter h2:nth-of-type(2) {
  color: $main-green-color;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: auto auto 40px;
  text-align: center;
}
.articles p {
  color: #566375;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  padding-left: 100px;
  text-align: left; /* IE11 */
}

.articles p:nth-of-type(2) {
  padding-left: 126px;
}

.mini-circle {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background-color: #1db05e;
  position: absolute;
  top: 0;
  display: flex;
}

.leaf {
  right: 302px;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
}

.lightning {
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
}

.fa-bolt, .fa-leaf {
  margin: auto;
}

.advantage-circle:hover {
  transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
}

.advantages:before {
  content: "";
  width: 545px;
  position: absolute;
  top: 48px;
  left: 106px;
  border-bottom: 2px solid #e2dee0;
  z-index: 10;
}

footer {
 @include box;
  background: #4d4744 url('../images/bg-img.JPG');
  padding-top: 60px;
  background-size: cover;
}
.newsletter {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.newsletter h2{
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  color: #ffffff;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: auto auto 47px;
  align-self: baseline;
}

.newsletter form{
  padding: 20px 14px 15px 33px;
  width: 492px;
  height: 60px;
  border-radius: 30px;
  background-color:rgba( 255, 255, 255, 0.1);
  border: 1px solid rgba(255,255,255,.2);
  box-sizing: border-box;
  margin: auto auto 57px;
}

.newsletter input {
  border: none;
  margin: 0;
  outline: none;
  height: 20px;
  vertical-align: top;
  background-color: transparent;
  color: #ffffff;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  width: 300px;
  @include dissapear;
  @include placeholder-email;

}

.newsletter button {
  position: relative;
  top: -35px;
  left: 333px;
  border: none;
  border-radius: 25px;
  width: 120px;
  height: 50px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: $main-red-color;
  box-shadow: 0 2px 0 #c1412e;
  text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  padding-right: 14px;
}

.footer-menu-social {
  padding-top: 40px;
  @include flex-space-between;
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding-bottom: 60px;
  box-sizing: border-box;
  padding-right: 100px;
}

.footer-menu-social p {
  color: #ffffff;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
  margin: 0 0 25px;
}

.list-menu a {
  color: #c0bebc;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.social {
  display: flex;
  flex-direction: column;
}
.social i {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 20px;
}

.social p.copyright {
  color: #ffffff;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  text-decoration: none;
  margin: 0;
}

.cover {
  @include flex-space-between;
  flex-direction: column;
  flex-grow: 2;
}

.hide {
  display: none;
}

.curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
}

.map {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 30%;
  background-color: #fff;
  margin-left: -250px;
  margin-bottom: -250px;
  z-index: 110;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  * {margin: 0; padding: 0;}
  header {flex-wrap: wrap;}
  header form {margin: auto;}
  .middle-section {flex-wrap: wrap;padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;}
  .filter {margin: auto}
  .footer-menu-social {padding-left: 10px;}
  .filter {margin-bottom: 10px;}
  .main-content {padding-left: 10px; padding-right: 10px;}
  .map {width: 400px; height: 400px; margin-left: -200px; margin-bottom: -200px;}
  .card-wide.first-wide,
  .card-wide.second-wide {display: none;}
  .load {padding-left: 5px;}
  .main-content .card-hide {display: none;}
}

@media screen and (width: 414px) {
  *{padding: 0; margin: 0;}
  .newsletter form {width: 320px; padding-left: 10px}
  .newsletter label {display: none;}
  .newsletter input {width: 185px;}
  .newsletter button {left: 185px;}
  .middle-section {flex-wrap: wrap;}
  .logo-nav, header {flex-wrap: wrap;}
  nav ul {flex-wrap: wrap;}
  nav {padding-left: 5px;}
  header form {height: 50px; width: 320px;}
  input.search {height: 50px; width: 70px;}
  input.login {height: 50px; width: 250px;}
  .after-header h2 {font-size: 24px;}
  .after-header form {width: 320px;}
  input.third {width: 315px;}
  .after-header {padding-left: 10px;padding-bottom: 50px;}
  .middle-section {padding-left: 10px;}
  .map {width: 300px; height: 300px; margin-left: -100px;margin-bottom: -100px;}
  .list-map, .filter, .sort {margin: auto auto 15px;}
  .card {margin: auto auto 10px}
  .name-rating-wide {padding-left: 55px;}
  .name-rating-wide p:nth-of-type(1) {font-size: 15px;}
  .load {margin: auto;     padding-left: 88px;}
  .prefooter-cover {padding: 0;}
  .prefooter h2:nth-of-type(1) {font-size: 19px;}
  .articles p:nth-of-type(2) {padding-left: 100px;}
  .articles {flex-wrap: wrap;margin-bottom: 10px;}
  .articles p:nth-of-type(1) {margin-bottom: 10px;}
  .advantages {flex-direction: column;}
  .advantage-circle {margin: auto auto 15px;}
  .prefooter p {margin: auto auto 10px;}
  .advantages:before {top: 300px; left: -65px; transform: rotate(90deg);}
  .leaf {top: 130px; left: 0;}
  footer {padding-top: 10px;}
  .newsletter h2 {font-size: 20px; margin: auto auto 30px;}
  .newsletter form {margin: auto auto 40px;}
  .footer-menu-social {padding-top: 25px;flex-wrap: wrap;padding-left: 10px;padding-right: 10px;}
  .list-menu {margin-bottom: 10px;}
  .main-circle.circle-0 {top: 92px;}
  form .button {width: 120px; height: 45px; border-radius: 26px;}
}

@media screen and (max-width: 413px) and (min-width: 320px){
  *{padding: 0; margin: 0;}
  form .button {width: 120px; height: 45px; border-radius: 26px;}
  .newsletter form {width: 310px; padding-left: 10px}
  .newsletter label {display: none;}
  .newsletter input {width: 185px;}
  .newsletter button {left: 176px;}
  .middle-section {flex-wrap: wrap;}
  .logo-nav, header {flex-wrap: wrap;}
  nav ul {flex-wrap: wrap;}
  nav {padding-left: 5px;}
  header form {height: 50px; width: 320px;}
  input.search {height: 50px; width: 70px;}
  input.login {height: 50px; width: 250px;}
  .after-header h2 {font-size: 24px;}
  .after-header form {width: 300px;}
  input.third {width: 300px;}
  .after-header {padding-left: 10px;padding-bottom: 50px;}
  .middle-section {padding-left: 10px;}
  .map {width: 300px; height: 300px; margin-left: -150px;margin-bottom: -150px;top:80%;}
  .list-map, .filter {margin-bottom: 10px;}
  .card {margin: auto auto 10px}
  .name-rating-wide {padding-left: 55px;}
  .name-rating-wide p:nth-of-type(1) {font-size: 15px;}
  .load {margin: auto;}
  .prefooter-cover {padding: 0;}
  .prefooter h2:nth-of-type(1) {font-size: 20px;}
  .articles p:nth-of-type(2) {padding-left: 90px;}
  .articles {flex-wrap: wrap;margin-bottom: 10px;}
  .articles p:nth-of-type(1) {margin-bottom: 10px;padding-left: 90px;}
  .advantages {flex-direction: column;}
  .advantage-circle {margin: auto auto 15px;}
  .prefooter p {margin: auto auto 10px;}
  .advantages:before {top: 300px; left: -115px; transform: rotate(90deg);}
  .leaf {top: 174px; left: 0;}
  footer {padding-top: 10px;}
  .newsletter h2 {font-size: 20px; margin: auto auto 30px;}
  .newsletter form {margin: auto auto 40px;}
  .footer-menu-social {padding-top: 25px;flex-wrap: wrap;padding-left: 10px;padding-right: 10px;}
  .list-menu {margin-bottom: 10px;}
  .off {height: 50px;}
  .user, .search, header form, header input {height: 50px;}
  header i.fa.fa-search,
  header i.fa.fa-user {top:14px; left:19px;}
}

@media screen and (width: 1024px) {
  .logo-nav a.logo {padding-right: 0;}
  input.login {width: 200px;}
  header form {width: 320px;}
}